@import url(../css/base/andy-bell-reset.css);
@import url(../css/base/root.css);
@import url(../css/utilities/utility-classes.css);


html {
    color-scheme: dark light;
}

body {
    font-family: var(--ff-regular);
    background-color: var(--clr-neutral-800);
    overflow-x: hidden;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
}

/* HEADER */
.primary-header {
    position: relative;
}

.primary-header__info {
    position: absolute;
    width: 100%;
    padding: 12rem 2rem;
    justify-content: space-between;
}

/* INPUT TYPE SEARCH I NAVBAR */
.search-input {
    border: 3px solid var(--clr-primary-600);
    border-radius: .75rem;
    padding: 1em 1.5em;
    color: var(--clr-neutral-800);
    background-color: var(--clr-neutral-100);
    font-size: 1.125rem;
    line-height: 1;
}

.search-input::placeholder {
    color: var(--clr-neutral-800);
    font-family: var(--ff-regular);
}

/* DIV MED VIDEO BAKGRUNN */
.primary-header__background {
    position: absolute;
    z-index: -1;
    max-height: 50rem;
    background: linear-gradient(90deg, var(--clr-primary-400), transparent);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 10%);
}

.background__video {
    display: block;
    max-width: 100%;
    max-height: 100%;
    mix-blend-mode: difference;
}

/* MOVIES LOGO */
.logo-link {
    color: var(--clr-primary-400);
    font-family: var(--ff-heading);
    font-size: var(--fs-1000);
    font-weight: var(--fw-bold);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .3rem;
    transition: text-shadow 300ms ease;
}

.logo-link:is(:hover, :focus) {
    text-shadow: 4px 4px var(--clr-neutral-100);
}

/* MAIN CONTENT SEKSJON */
.main-content {
    margin-block-start: 55rem;
}

.movies {
    display: grid;
    place-content: center;
    margin-inline: auto;
    margin: 5rem 2rem;
}

.action-movies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    max-width: 90rem;
}

#mission-impossible-series {
    display: flex;
    align-self: center;
    gap: 1rem;
    overflow-x: scroll;
    max-width: 100%;
}

.movie-card {
    --flex-row-gap: 0;
    min-width: 35em;
    justify-content: space-between;
    background-color: var(--clr-neutral-400);
}

.movie-info {
    width: 100%;
    padding: 1rem;
}

.movie-poster {
    width: 220px;
}

.user-reviews {
    max-width: 90rem;
    margin: 2rem auto;
}

#review-container {
    grid-template-columns: repeat(5, 1fr);
}

.review-comment-container {
    margin: 1rem 1rem;
    border: 1px solid var(--clr-primary-600);
    border-radius: .5rem;
    padding: 1rem;
    background-color: var(--clr-neutral-400);
}


/* DUMB MEDIA QUERY FIX */
@media (max-width: 1440px) {
    .main-content {
        margin-block-start: 50rem;
    }
}

@media (max-width: 1110px) {
    .main-content {
        margin-block-start: 40rem;
    }
}

@media (max-width: 876px) {
    .main-content {
        margin-block-start: 30rem;
    }
}

@media (max-width: 660px) {
    .main-content {
        margin-block-start: 24rem;
    }
}